#local setup folders
.terraform/

#state files (contain the secreat of the application)
*.tf.state
*.tfstate.*

#sensitive variables (where the password and the keys exists)
*.tfvars
*.tfvars.json

#crash logs
crash.log
